torch
torchvision
torchaudio

opencv-python

numpy

pandas

matplotlib

albumentations

segmentation-models-pytorch

timm

torchmetrics

lightning

tensorboard

scikit-image

scikit-learn

tqdm

pyyaml